.debug-info {
  font-weight: normal;
  font-size: 6pt;
  color:#7e7e7e;
  display: block;
  width: 100%;
  padding: 1pt;
  opacity: 0.2;
}

.scripto {
  font-family: "Liberation Mono";
  background-color:transparent;
  color:#7E7E7E;
  font-size: 12pt;
}
.input {
  background: transparent !important;
  border-radius: 0 !important;
  border-width: 0 !important;
  border-bottom-width: .5pt !important;
  border-color: transparent !important;
  width:calc(100% - 4pt) !important;
  outline: 0 !important;
  transition: border-color .1s !important;
  color : #7e7e7e !important;
  overflow: hidden;
  margin: 0pt auto !important;
  resize: none !important;
  display: block;
}
.input:focus {
  border-width:0 !important;
  border-bottom-width: .5pt !important;
  border-color: #7E7E7E !important;
  background: transparent !important;;
  color : #7e7e7e !important;
}
.scripto.§A {
  text-align: center;
  font-size: 14pt;
  line-height: 14pt;
  padding-top:7pt;
  padding-bottom:7pt;
}
.scripto.§S {
  text-align: left;
  font-size: 12pt;
  padding-top:6pt;
  padding-bottom:4pt;
  width: calc(100% - 9pt) !important;
  border-color: #7e7e7e !important;
  border-width: 0.5pt !important;
  border-radius: 3pt !important;
}
.scripto.§S:focus {
}

.scripto.§C {
  text-align: center;
  font-size: 12pt;
  text-transform: uppercase;
  padding-top:3pt;
  padding-bottom:3pt;
  width: 256pt;

}
.scripto.§CA {
  text-align: center;
  font-size: 9pt;
  padding-top:2pt;
  padding-bottom:3pt;
  width: 256pt;
}

.scripto.§D {
  resize: none;
  width: 256pt !important;
  display: block;
  margin: 0 auto;
  padding-top:6pt;
  padding-bottom:6pt;
  font-size: 12pt;
  line-height: 18pt;
}

.scripto.§P {
  resize: none;
  display: block;
  width:420pt;
  margin: 0 auto;
  padding-top:2pt;
  padding-bottom:6pt;
  font-size: 12pt;
  line-height: 18pt;
}

.scripto.§T {
  display: block;
  margin: 0 auto;
  padding-top:4pt;
  padding-bottom:7pt;
  font-size: 14pt;
}
.scripto.§ST {
  display: block;
  margin: 0 auto;
  padding-top:4pt;
  padding-bottom:7pt;
  font-size: 12pt;
}
