
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

.App {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  display: flex;
  flex-flow: column;
  -webkit-app-region: drag;
  background: #E1D4C6;
}



.App-header {
  background-color: #E6DED2;
  height:28pt;
  min-height:28pt;
  margin:0pt;
  padding:0pt;
  color: rgb(40,40,40);
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0.5pt !important;
  border-color:#D3CDBD;
  transition: background-color .3s;
}
.App-content {
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: auto;
  transition: background-color .3s;
}

.App-title {
  font-size: 10pt;
  padding:0pt;
  margin:6pt;
  font-weight: normal;
  flex:1;
  height: 16pt;
  line-height: 16pt;
  color:#7E7E7E
}

.App-intro {
  font-size: large;
}


.Layout-flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex:1;
  overflow: hidden;
}
.Layout-left {
  flex-basis:196pt;
  min-width: 196pt;
  border-style:solid;
  border-width: 0pt;
  border-right-width: 0.5pt !important;
  border-color:#D3CDBD;
  margin:0pt;
  padding:0pt;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.Layout-main {
  display: flex;
  flex:1;
  flex-direction: row;
  position: relative;
}



/* Left Layout */
.Global-layout {
  flex:1;
  opacity: .1;
  transition: opacity .2s;
}
.Global-layout:hover {
  opacity: 1;
}

.Global-layout-choicebox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36pt;
  border-style: solid;
  border-width: 0pt;
  border-bottom-width: 0.5pt;
  border-radius:
}
.Global-layout-choice {
  flex:1;
  border-width: 0pt;
  border-bottom-width: 0.5pt;
  background-image:url('./icons/info.png');
  background-repeat: no-repeat;;
  background-position: center;
}
.Global-layout-choice:hover {
  background-color:rgba(95,95,95,0.08);
}
.Global-layout-choice.info {
  background-image:url('./icons/info.png');
}
.Global-layout-choice.write {
  background-image:url('./icons/pen.png');
}
.Global-layout-content {
  color: #7e7e7e
}
.Settings-layout {
  flex-basis: 96pt;
  opacity: .1;
  transition: opacity .2s;
  border-style: solid;
  border-width: 0pt;
  border-top-width: 0.5pt;
  border-color: #7e7e7e;
  display: flex;
  flex-direction: row;
}
.Settings-layout:hover {
  opacity: 1;
}
.Settings-Settings {
  flex-basis: 32pt;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 0.5pt;
  border-color: #7e7e7e;
}
.Settings-IO {
  flex:1;
  display: flex;
  flex-direction: column;
}
.Settings-IO .Row {
  flex:1;
}

.Settings-saveFile {
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  font-family: "Liberation Mono", sans-serif;
  font-size: 11pt;
  padding:0pt;
  margin:6pt;
  height:36pt;
  width: calc(100% - 12pt);
  line-height: 24pt;
  outline: none;
  cursor: pointer;
  border-color:#7e7e7e;
  color: rgb(40,175,90);
  text-align: center;
}
.Settings-saveFile.disabled {
  color:#7e7e7e;
  opacity: .5;
}

.Settings-export {
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  font-family: "Liberation Mono", sans-serif;
  font-size: 11pt;
  padding:0pt;
  margin:6pt;
  margin-bottom:0pt;
  height:36pt;
  width: calc(100% - 12pt);
  line-height: 24pt;
  outline: none;
  cursor: pointer;
  border-color:#7e7e7e;
  text-align: center;
  /* following : temporary disabled button*/
  color:#7e7e7e;
  opacity: .5;
}
/* Specific Values */

.Whole-Script {
  display: block;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:2pt;;
  padding:6pt;
  padding-bottom:96pt;
  overflow-y:auto;;
}

.Script-layout {
  display: flex;
  flex-wrap: nowrap;
  flex:1;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}
.Script-main {
  flex:0;
  flex-shrink: 0;
  background:;
  overflow: auto;
  min-width: 400pt;
}
.Script-Right {
  min-width: 96pt;
  display:flex;
  flex:1;
  flex-direction: column;
  align-items: stretch;
}

.Script-Right-Button-Box {
  min-height:28pt;
  display: flex;
  flex-direction: row;
}
.Script-Right-Spacer {
  flex:1;
}
.Script-Right-Label {
  flex:1;
  color:#b0ad9e;
  font-size: 8pt;
  font-weight: "100";
  text-align: right;
  margin-right:6pt;
  line-height: 16pt;

}
.Script-Right-Button {
  flex:1;
  margin:3pt;
  border-style: solid;
  border-width: 0.2pt;
  border-radius: 2pt;
  color:#707070;
  text-decoration:underline;
  text-align: center;
  font-weight: normal;
  line-height: 20pt;
  font-size: 8pt;
}
.Script-Right-Button.Primary {
  color:#346D2F;
  background-color:transparent;
  border-color: #346D2F;
  border-width: 0.5pt;
  box-shadow: 0 3pt 3pt 3pt rgba(0,0,0,0.07);
  font-size: 9pt;
}

.Script-Placeholder-box {
  display: block;
  min-height:900px;
  width: 420pt;
  min-width: 420pt;
  margin:10pt auto;
  padding:20pt;
}
.Script-Placeholder {
  background:#7E7E7E;
  display:block;
  min-height:14pt;
  border-radius: 1pt;
  margin:4pt;
}
.Script-Placeholder.paragraph {
  background:transparent;
  margin:0;
  max-width:300pt;
  margin:0 auto;
  margin-top: 12pt;
}
.Script-Placeholder.p-line {
  margin-top:7pt;
}
.Script-Placeholder.p-line-indent {
  margin-top:7pt;
  margin-left:24pt
}
.Script-Placeholder.title {
  height:18pt;
  width:212pt;
  margin:7pt auto;
}
.Script-Placeholder.subtitle {
  height:12pt;
  width:128pt;
  margin:7pt auto;
}
.Script-Placeholder.c-box {
  background:transparent;
  margin:0;
  max-width:300pt;
  margin:0pt auto;
  margin-top: 21pt
}
.Script-Placeholder.character {
  width:64pt;
}

.CreateFile-Layout {
  display: flex;
  height:100%;
  align-items: center;
}
.CreateFile-Container {
  width: 372pt;
  height:256pt;
  margin:0 auto;
  display: flex;
  flex:0;
  flex-basis:372pt;
  align-items: stretch;
  flex-direction: column;
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  border-color:#7e7e7e;
}
.CreateFile-Row {
  flex:1;
  display: flex;
  flex-direction:row;
  border-style: solid;
  border-width: 0pt;
  border-bottom-width: 0.5pt !important;
  border-color:#7e7e7e;
}
.CreateFile-Column {
  flex:1;
  flex-direction:column;
  max-width: 186pt;
}
.CreateFile-Column.Title {
  max-width:372pt;
}
.CreateFile-Row.Header {
  flex:0;
  flex-basis: 48pt;
}
.CreateFile-HeaderTitle {
  color:#7e7e7e;
  font-weight: lighter;
  font-size: 12pt;
  text-align: center;
  line-height: 48pt;
  padding:0pt;
  margin:0pt;
}
.CreateFile-title {
  text-align: right;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 0.5pt !important;
  border-color:#7e7e7e;
  color:#7e7e7e;
  font-weight: normal;
  font-size: 10pt;
  padding:0pt;
  margin:0pt;
  padding-top:8pt;
  padding-right: 6pt;
}
.CreateFile-Row.Open {
  flex:0;
  flex-basis: 68pt;
  border-width: 0pt !important;
}

.CreateFile-filePath {
  background:transparent;
  color:#7e7e7e;
  font-family: "Liberation Mono", sans-serif;
  padding:0pt;
  margin:6pt;
  margin-top:9pt;
  font-size: 10pt;
  width:calc(100% - 12pt);
  overflow-x:auto;
}
.CreateFile-fileButton {
  background:transparent;
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  border-color:#7e7e7e;
  color:#7e7e7e;
  font-family: "Liberation Mono", sans-serif;
  width: auto;
  padding:6pt;
  margin:6pt;
  cursor: pointer;
  outline: none;
}
.CreateFile-filenameInput {
  background-color:rgb(220,220,220);
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  border-color:#7e7e7e;
  color:#7e7e7e;
  font-family: "Liberation Mono", sans-serif;
  width:calc(100% - 26pt);
  padding:6pt;
  margin:6pt;
  outline: none;
  cursor: pointer;
}
::-webkit-input-placeholder {
  color:rgb(190,190,190)
}
.CreateFile-filenameInput:focus {
  background:rgb(240,240,240);
}
.CreateFile-save {
  font-size: 10pt;
  width:calc(100% - 12pt);
  margin:6pt;
  color:#e7e7e7;
  background: linear-gradient(to bottom, rgb(40,175,90) , rgb(35,165,85));
}
.CreateFile-save:hover {
  background: linear-gradient(to bottom, rgb(44,185,100) , rgb(32,160,75));
}
.CreateFile-save.disabled {
  opacity: 0.4;
  background: rgba(80,80,80,0.1);
  border-color:#7e7e7e;
  color:#7e7e7e;
  cursor: normal;
}

.CreateFile-openFile {
  width:calc(100% - 12pt);
  height:56pt;
  padding:6pt;
  margin:6pt;
  color: rgb(40,175,90);
}


/* Control Activity */
.Control-Metadata {
  margin:6pt;
  border-style: solid;
  border-width: 0.5pt;
  border-color: #7e7e7e;
  border-radius: 0.5pt;
  display: flex;
  flex-direction: row;
}
.Control-title {
  flex-basis: 128pt;
}
.Control-title h2 {
  font-weight: lighter;
  font-size: 11pt;
  margin:0pt;
  padding: 6pt;
  text-align: right;
  color:#7e7e7e;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 0.5pt;
  border-color: #7e7e7e;
  border-radius: 0.5pt;

}
.Control-inputs {
  display: flex;
  flex-direction: column;
  flex:1;
}
.Control-Input {
  padding:6pt;
  flex:1;
  display: flex;
  flex-direction: row;
}
.Control-Input p {
  padding-right:6pt;
  margin:0pt;
  flex-basis: 96pt;
  font-size: 10pt;
  line-height: 18pt;
  text-align: right;

}
.Control-Input input, .Control-Input textarea {
  flex:1;
  cursor: pointer;
  margin: 0pt;
}
 .Control-Input.Synopsis {
   flex-basis: 50pt;
 }
 .Control-Input textarea  {
   font-size:11pt;
   outline: none;
   resize: none;
   max-height: 64pt;
   padding: 6pt;
 }
