
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

.App {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  display: flex;
  flex-flow: column;
  -webkit-user-select: none;
  background: #E1D4C6;
}



.App-header {
  -webkit-app-region: drag;
  background-color: #E6DED2;
  height:28pt;
  min-height:28pt;
  margin:0pt;
  padding:0pt;
  color: rgb(40,40,40);
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0.5pt !important;
  border-color:#D3CDBD;
  transition: background-color .3s;
  overflow: visible;
}
.App-content {
  display: flex;
  flex:1;
  flex-direction: column;
  overflow: auto;
  transition: background-color .3s;
}

.App-title {
  font-size: 10pt;
  padding:0pt;
  margin:6pt;
  font-weight: normal;
  flex:1;
  height: 16pt;
  line-height: 16pt;
  color:#7E7E7E
}

.App-intro {
  font-size: large;
}

.appTitleLayout {
  align-items: center;
  justify-content: center;
}
.appTitle {
  text-align: right;
  font-size: 9pt;
  letter-spacing: 1.2pt;
  padding-right: 4pt;
  height:9pt;
}
.appVersion {
  text-align: right;
  font-size: 6pt;
  text-transform: uppercase;
  letter-spacing: 1pt;
  padding-right: 4pt;
  height:6pt;
}

.Layout-flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex:1;
  overflow: visible;
}
.Layout-left {
  flex-basis:196pt;
  min-width: 196pt;
  border-style:solid;
  border-width: 0pt;
  border-right-width: 0.5pt !important;
  border-color:#D3CDBD;
  margin:0pt;
  padding:0pt;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: visible;
}
.Layout-main {
  display: flex;
  flex:1;
  flex-direction: row;
  position: relative;
  overflow: visible;
}

.App-Title-Layout {
  flex:2;
}
/* Toolbar */
.Toolbar-Layout {
  flex:1;
  height: 28pt;
}
.Toolbar-Switch {
  float:right;
  display: block;
  height: 28pt;
  border-style: solid;
  border-width: 0pt;
  border-left-width: 0.5pt !important;
  border-color:#7e7e7e;
}
.Toolbar-Items {
  float:right;
  display:block;
  height: 28pt;
  overflow: visible;
}
.Toolbar-i {
  position: relative;
  overflow: visible;
  float:right;
  -webkit-app-region: no-drag;
}
.Toolbar-item {
  float:right;
  width: 32pt;
  height: 28pt;
  display: block;
  margin:0pt;
  padding:0pt;
  border-style: solid;
  border-width: 0pt;
  border-left-width: 0.5pt !important;
  border-color:#7e7e7e;
  overflow:hidden;
  background: transparent !important;
  color:#7e7e7e;
  cursor: pointer;
}
.Toolbar-item-menu {
  position: absolute;
  display: block;
  z-index: 200;
  left:-48pt;
  width:128pt;
  top:24pt;
  height:156pt;
  padding:3pt;
  border-style: solid;
  border-width: 0.5pt !important;
  border-radius: 3pt;
  color:#7e7e7e;
  transition: background-color .3s;
}
.Toolbar-item.Error {
  background:red !important;
  color:white;
  font-size: 7pt;
  line-height: 9pt;
  padding-left:1pt;
  border-color:#7e7e7e;
}
.Toolbar-item-menu ul, .node ul {
  margin:0pt;
  padding:0pt;
  list-style-type: none;
}
.Toolbar-item-menu ul li, .node ul li {
  border-color:rgba(30,30,30,0.2);
  border-style: solid;
  border-width: 0pt;
  /*border-bottom-width: 0.5pt;*/
  display:flex;
  flex-direction: row;
  padding:3pt;
}
.Toolbar-item-menu span, .node span {
  font-size: 8pt;
  line-height: 19pt;
  height:18pt;
  width: 70pt;
  overflow: hidden
}
.Toolbar-item-menu input[type="text"], .node input[type="text"] {
  width: 100%;
  padding-top:2pt;
  padding-bottom:2pt;
  font-size: 8pt;
  border-radius: 2pt
}
.Toolbar-item-menu button, .node button {
  width: 100%;
  padding-top:2pt;
  padding-bottom:2pt;
  font-size: 8pt;
  height:18pt
}


/* Left Layout */
.Global-layout {
  flex:1;
  opacity: .5;
  transition: opacity .2s;
}
.Global-layout:hover {
  opacity: 1;
}

.Global-layout-choicebox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36pt;
  border-style: solid;
  border-width: 0pt;
  border-bottom-width: 0.5pt;
  border-radius:
}
.Global-layout-choice {
  flex:1;
  border-width: 0pt;
  border-bottom-width: 0.5pt;
  background-image:url('./icons/info.png');
  background-repeat: no-repeat;;
  background-position: center;
}
.Global-layout-choice:hover {
  background-color:rgba(95,95,95,0.08);
}
.Global-layout-choice.info {
  background-image:url('./icons/info.png');
}
.Global-layout-choice.mindmap {
  background-image:url('./icons/mindmap.png');
}
.Global-layout-choice.write {
  background-image:url('./icons/pen.png');
}
.Global-layout-content {
  color: #7e7e7e
}
.Settings-layout {
  flex-basis: 96pt;
  opacity: .66;
  transition: opacity .2s;
  border-style: solid;
  border-width: 0pt;
  border-top-width: 0.5pt !important;
  border-color: #7e7e7e;
  display: flex;
  flex-direction: row;
}
.Settings-layout:hover {
  opacity: 1;
}
.Settings-Settings {
  flex-basis: 32pt;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 0.5pt !important;
  border-color: #7e7e7e;
}
.Settings-IO {
  flex:1;
  display: flex;
  flex-direction: column;
}
.Settings-IO .Row {
  flex:1;
}
.Settings-Settings-Cog {
  background-image: url('../src/icons/settings.png');
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  display: block;
  width: 28pt;
  height:24pt;
  margin:6pt
}
.Settings-Settings-Cog:hover {
  background-image: url('../src/icons/settings.png');
  background-position: center;
  background-repeat: no-repeat;
}
.Settings-Settings-Report {
  background-image: url('../src/icons/report.png');
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  display: block;
  width: 28pt;
  height:24pt;
  margin:6pt
}
.Settings-Settings-Report:hover {
  background-image: url('../src/icons/report.png');
  background-position: center;
  background-repeat: no-repeat;
}
.Settings-Settings-Help {
  background-image: url('../src/icons/help.png');
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  display: block;
  width: 28pt;
  height:24pt;
  margin:6pt
}
.Settings-Settings-Help:hover {
  background-image: url('../src/icons/help.png');
  background-position: center;
  background-repeat: no-repeat;
}

.Settings-saveFile {
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  font-family: "Liberation Mono", sans-serif;
  font-size: 11pt;
  padding:0pt;
  margin:6pt;
  height:36pt;
  width: calc(100% - 12pt);
  line-height: 24pt;
  outline: none;
  cursor: pointer;
  border-color:#7e7e7e;
  color: rgb(40,175,90);
  text-align: center;
}
.Settings-saveFile.disabled {
  color:#7e7e7e;
  opacity: .5;
}

.Settings-export {
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  font-family: "Liberation Mono", sans-serif;
  font-size: 11pt;
  padding:0pt;
  margin:6pt;
  margin-bottom:0pt;
  height:36pt;
  width: calc(100% - 12pt);
  line-height: 24pt;
  outline: none;
  cursor: pointer;
  border-color:#7e7e7e;
  text-align: center;
  /* following : temporary disabled button*/
  color:#7e7e7e;
  opacity: .5;
}
/* Specific Values */

.Whole-Script {
  display: block;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:2pt;;
  padding:6pt;
  padding-left: 0pt;
  padding-bottom:96pt;
  overflow-y:auto;;
}
.Whole-Script.no-padding {
  padding:0pt;
}

.Script-layout {
  display: flex;
  flex-wrap: nowrap;
  flex:1;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}
.Script-main {
  flex:0;
  flex-shrink: 0;
  background:;
  overflow: auto;
  min-width: 400pt;
  display: block;
}
.Script-Right {
  min-width: 96pt;
  flex:1;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  max-height: 12pt;
}

.Script-Item-Deco {
  display: block;
  flex:0;
  flex-basis: 32pt;
}
.Script-Item-Deco .true {
  display: block;
  width: 1.5pt;
  height:100%;
  margin-left:1.5pt;
  background: rgba(180,180,180,0.3);
}
.Script-Item-Deco .false {
  display: block;
  width: 1.5pt;
  height:100%;
  margin-left:1.5pt;
  background: rgba(80,80,80,0.3);
}

.Script-Item-Options {
  display: block;
  position: absolute;
  left:24pt;
  right:0pt;
  min-width: 64pt;
  max-width: 256pt;
  top:8pt;
  height:76pt;
  padding:2pt;
  border-style: solid;
  border-width: 0.5pt;
  border-color:#7e7e7e;
  border-radius: 3pt;
  opacity: .66;
}

.Script-Item-Button {
  display: block;
  float: left;
  margin-left: 2.5pt;
  margin-top:2.5pt;
  width: 64pt;
  height: 32pt;
  cursor: pointer;
}
.Script-Item-Button .type {
  width: 100%;
  float: top;
  font-size: 9pt;
  font-weight: bold;
  cursor: pointer;

}
.Script-Item-Button .shortcut {
  width: 100%;
  float: top;
  font-size: 8pt;
  cursor: pointer;
}
/* following is to change */
.Script-Right-Button-Box {
  min-height:28pt;
  display: flex;
  flex-direction: row;
}
.Script-Right-Spacer {
  flex:1;
}
.Script-Right-Label {
  flex:1;
  color:#b0ad9e;
  font-size: 8pt;
  font-weight: "100";
  text-align: right;
  margin-right:6pt;
  line-height: 16pt;

}
.Script-Right-Button {
  flex:1;
  margin:3pt;
  border-style: solid;
  border-width: 0.2pt;
  border-radius: 2pt;
  color:#707070;
  text-decoration:underline;
  text-align: center;
  font-weight: normal;
  line-height: 20pt;
  font-size: 8pt;
}
.Script-Right-Button.Primary {
  color:#346D2F;
  background-color:transparent;
  border-color: #346D2F;
  border-width: 0.5pt;
  box-shadow: 0 3pt 3pt 3pt rgba(0,0,0,0.07);
  font-size: 9pt;
}

.Script-Placeholder-box {
  display: block;
  min-height:900px;
  width: 420pt;
  min-width: 420pt;
  margin:10pt auto;
  padding:20pt;
}
.Script-Placeholder {
  background:#7E7E7E;
  display:block;
  min-height:14pt;
  border-radius: 1pt;
  margin:4pt;
}
.Script-Placeholder.paragraph {
  background:transparent;
  margin:0;
  max-width:300pt;
  margin:0 auto;
  margin-top: 12pt;
}
.Script-Placeholder.p-line {
  margin-top:7pt;
}
.Script-Placeholder.p-line-indent {
  margin-top:7pt;
  margin-left:24pt
}
.Script-Placeholder.title {
  height:18pt;
  width:212pt;
  margin:7pt auto;
}
.Script-Placeholder.subtitle {
  height:12pt;
  width:128pt;
  margin:7pt auto;
}
.Script-Placeholder.c-box {
  background:transparent;
  margin:0;
  max-width:300pt;
  margin:0pt auto;
  margin-top: 21pt
}
.Script-Placeholder.character {
  width:64pt;
}
/* -- */

.CreateFile-Layout {
  display: flex;
  height:100%;
  align-items: center;
  overflow: visible;
}
.CreateFile-Container {
  width: 372pt;
  height:254pt;
  margin:0 auto;
  display: flex;
  flex:0;
  flex-basis:372pt;
  align-items: stretch;
  flex-direction: column;
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 4pt;
  border-color:#7e7e7e;
  transition: background-color .3s;
  overflow: visible;

}
.CreateFile-Row {
  flex:1;
  display: flex;
  flex-direction:row;
  border-style: solid;
  border-width: 0pt;
  border-bottom-width: 0.5pt !important;
  border-color:#7e7e7e;
  transition: background-color .3s;
  overflow: visible;

}
.CreateFile-Column {
  flex:1;
  flex-direction:column;
  max-width: 186pt;
  transition: background-color .3s;
  overflow: visible;

}
.CreateFile-Column.Title {
  max-width:372pt;
}
.CreateFile-Row.Header {
  flex:0;
  flex-basis: 48pt;
}
.CreateFile-HeaderTitle {
  color:#7e7e7e;
  font-weight: lighter;
  font-size: 12pt;
  text-align: center;
  line-height: 48pt;
  padding:0pt;
  margin:0pt;
  transition: background-color .3s;
}
.CreateFile-title {
  text-align: right;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 0.5pt !important;
  border-color:#7e7e7e;
  color:#7e7e7e;
  font-weight: normal;
  font-size: 10pt;
  padding:0pt;
  margin:0pt;
  padding-top:8pt;
  padding-right: 6pt;
  transition: background-color .3s;
}
.CreateFile-Row.Open {
  flex:0;
  flex-basis: 68pt;
  border-style: solid;
  border-width: 0pt !important;
  transition: background-color .3s;
}

.CreateFile-filePath {
  background:transparent;
  color:#7e7e7e;
  font-family: "Liberation Mono", sans-serif;
  padding:0pt;
  margin:6pt;
  margin-top:9pt;
  font-size: 10pt;
  width:calc(100% - 12pt);
  overflow-x:auto;
}
.CreateFile-fileButton {
  background:transparent;
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  border-color:#7e7e7e;
  color:#7e7e7e;
  font-family: "Liberation Mono", sans-serif;
  width: auto;
  padding:6pt;
  margin:6pt;
  cursor: pointer;
  outline: none;
}
.CreateFile-filenameInput {
  background-color:rgb(220,220,220);
  border-style: solid;
  border-width: 0.5pt;
  border-radius: 1.5pt;
  border-color:#7e7e7e;
  color:#7e7e7e;
  font-family: "Liberation Mono", sans-serif;
  width:calc(100% - 26pt);
  padding:6pt;
  margin:6pt;
  outline: none;
  cursor: pointer;
}
::-webkit-input-placeholder {
  color:rgb(190,190,190)
}
.CreateFile-filenameInput:focus {
  background:rgb(240,240,240);
}
.CreateFile-save {
  font-size: 10pt;
  width:calc(100% - 12pt);
  margin:6pt;
  color:#e7e7e7;
  background: linear-gradient(to bottom, rgb(40,175,90) , rgb(35,165,85));
}
.CreateFile-save:hover {
  background: linear-gradient(to bottom, rgb(44,185,100) , rgb(32,160,75));
}
.CreateFile-save.disabled {
  opacity: 0.4;
  background: rgba(80,80,80,0.1);
  border-style: solid;
  border-color:#7e7e7e;
  color:#7e7e7e;
  cursor: normal;
}

.CreateFile-openFile {
  width:calc(100% - 12pt);
  height:56pt;
  padding:6pt;
  margin:6pt;
  color: rgb(40,175,90);
}


/* Control Activity */
.Control-Metadata {
  margin:6pt;
  border-style: solid;
  border-width: 0.5pt;
  border-color: #7e7e7e;
  border-radius: 0.5pt;
  display: flex;
  flex-direction: row;
}
.Control-title {
  flex-basis: 128pt;
}
.Control-title h2 {
  font-weight: lighter;
  font-size: 11pt;
  margin:0pt;
  padding: 6pt;
  text-align: right;
  color:#7e7e7e;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 0.5pt;
  border-color: #7e7e7e;
  border-radius: 0.5pt;

}
.Control-inputs {
  display: flex;
  flex-direction: column;
  flex:1;
}
.Control-Input {
  padding:6pt;
  flex:1;
  display: flex;
  flex-direction: row;
}
.Control-Input p {
  padding-right:6pt;
  margin:0pt;
  flex-basis: 96pt;
  font-size: 10pt;
  line-height: 18pt;
  text-align: right;

}
.Control-Input input, .Control-Input textarea {
  flex:1;
  cursor: pointer;
  margin: 0pt;
}
 .Control-Input.Synopsis {
   flex-basis: 50pt;
 }
 .Control-Input textarea  {
   font-size:11pt;
   outline: none;
   resize: none;
   max-height: 64pt;
   padding: 6pt;
 }


 .MindMap-Layout {
   position: relative;
   display: block;
   width: 100%;
   height:100%;
   margin:0pt;
   padding:0pt;
   overflow: hidden;
 }
 .MindMap-Overlay {
   position: absolute;
   left:0;
   top: 0;
   width: 100%;
   height:100%;
   padding:0pt;
   margin:0pt;
 }
 .MindMap-Items {
   position: absolute;
   left:0;
   top: 0;
   width: 100%;
   height:100%;
   padding:0pt;
   margin:0pt;
 }
 .MindMap-Canvas {
   transition: background-color .3s;
 }
 .MindMap-Item {
   border-style: solid;
   border-width: 0.5pt !important;
   border-radius: 3pt;
   border-color: #7e7e7e;
   box-shadow: 0pt 0pt 0pt 3pt rgba(40,40,40,0.1);
   transition: background-color .3s, border-color .3s;
 }
 .MindMap-Item-Header {
   height:20pt;
   padding:3pt;
   background:rgba(150,150,150,0.1);
   display: flex;
   flex-direction: row;
   cursor: move;
 }
.MindMap-Item-Header button {
   height: 20pt;
   width: 20pt;
   text-align: center;
   flex:0;
   flex-basis: 20pt;
   cursor: pointer;
   background-size: cover;
   background-position: center;
   background-image:url('../src/icons/close.png');
   border-width: 0pt !important;
 }
 .MindMap-Item-Header button:hover {
   background-size: cover;
   background-position: center;
   background-image:url('../src/icons/close.png');
 }
.MindMap-Item-Header .title {
  flex:1;
  cursor: move;
}
.MindMap-Item-Content {
  height: calc(100% - 26pt);
}
.MindMap-Item textarea {
  margin:1.5pt;
  width: calc( 100% - 10.5pt);
  height: calc(100% - 10.5pt);
  padding:3pt;
  resize:none;
  -webkit-user-select: all
}
