body {
  margin: 0;
  padding: 0;
  font-family: "Liberation Mono", monospace;
  background:#E2D7C8;
  color: #7E7E7E;
}




.switch {
  position: relative;
  display: inline-block;
  margin:6pt;
  margin-top:8pt;
  width: 36pt;
  min-width:36pt;
  height: 14pt;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0.5pt;
  border-color: #7E7E7E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10pt;
  width: 10pt;
  left: 2px;
  bottom: 1.5px;
  background-color: #7E7E7E;
  border-style: solid;
  border-width: 0.5pt;
  border-color: #7E7E7E;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  border-style: solid;
  border-width: 0.5pt;
  border-color: #7E7E7E;
}

input:focus + .slider {
  box-shadow: 0 0 3pt #2196F3;
}

input:checked + .slider:before {
  transform: translateX(21pt);
  background-color: #5A5A59;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


p {
  color:#7E7E7E;
  font-size: 12pt
}
